{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">

<h2 align="center">Books</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.fbook.label }}<br>
        {{ form.fbook(class="form-control") }}<br>
        {% for error in form.fbook.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    
    <a>{{ form.submit(type="submit", class="btn btn-primary") }}</a>
    {{message}}
    </p>
    <br>
    {% if current_user.is_authenticated %}
    <div align="center">
    <a href="addbook" class="btn btn-secondary">Add book</a>
    </div>
    {% endif %}
    {% if fb != 0 %}
        {% for book in books %}
            {% if book.name.lower() == fb.lower() %}
                <br>
                <div>
                <a href="books/{{book.id}}" class="btn btn-warning"><h3>{{book.name}}</h3></a>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% for book in books %}
    {% if book.name.lower() != fb.lower() %}
    <br>
    <div>
    <a href="books/{{book.id}}" class="btn btn-warning"><h3>{{book.name}}</h3></a>
    </div>
    {% endif %}
    {% endfor %}
</form>
{% endblock %}